Repository Donran/pizza: changes, and which GitLab CI jobs are due for each by the changed paths.
All: static_validation, webtest

.gitlab-ci.yml:

image: donran/pizza-docker:latest

stages:
  - test
  - deploy
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH'
pages:
  stage: deploy
  script:
    - lessc less/style.less public/css/style.css
    - lessc less/navbar.less public/css/navbar.css
    - lessc less/overlay.less public/css/overlay.css
    - lessc less/styleKontakt.less public/css/styleKontakt.css
  artifacts:
    paths:
      - public
  rules:
      if: '$CI_COMMIT_BRANCH == "master"'

static_validation:
  stage: test
  script:
    - lessc less/style.less public/css/style.css
    - lessc less/navbar.less public/css/navbar.css
    - lessc less/overlay.less public/css/overlay.css
    - lessc less/styleKontakt.less public/css/styleKontakt.css
    - ./scripts/validators/css_validator.sh public
    - ./scripts/validators/html_validator.sh public
  only:
    changes:
      - less/**
      - public/**
      - .gitlab-ci.yml

webtest:
  stage: test
  image: donran/pizza-docker:latest
  script:
    - lessc less/style.less public/css/style.css
    - lessc less/navbar.less public/css/navbar.css
    - lessc less/overlay.less public/css/overlay.css
    - lessc less/styleKontakt.less public/css/styleKontakt.css
    - python3 -m http.server 8080 --directory public > /dev/null 2>&1 &
    - cd tests/webtests
    - python3 -m unittest
  only:
    changes:
      - public/**/*
      - tests/**/*
      - less/**/*
      - .gitlab-ci.yml

Fix tests to work without ids
  site/assets/css/overlay.less
  site/assets/css/style.less
  site/assets/js/index.js
  site/index.html
  tests/webtests/test_info.py
  tests/webtests/test_order.py
  tests/webtests/web_test_base.py
Due: webtest

Fixed dependencies in README
  README.md
Due: none

Remove global list styling
  site/assets/css/style.less
  site/index.html
Due: none

Add test for hitta hit
  site/assets/css/style.less
  site/kontakt.html
  tests/webtests/test_find_us.py
Due: webtest

Removed old contact test
  tests/webtests/test_info_contact.py
Due: webtest

Fix info test
  tests/webtests/test_info.py
Due: webtest

Removed old test
  tests/webtests/test_text_contact.py
Due: webtest

Compressed pizza images
  site/assets/images/bild1.jpg
  site/assets/images/bild2.jpg
  site/assets/images/bild3.jpg
  site/assets/images/bild4.jpg
  site/assets/images/bild5unsplash.jpg
Due: none

Testing tests
  tests/webtests/test_order.py
Due: webtest

testing tests
  tests/webtests/test_order.py
Due: webtest

Updated Order Test
  tests/webtests/test_order.py
Due: webtest

Fix CI
  .gitlab-ci.yml
Due: static_validation, webtest

Fix small CSS error
  site/assets/css/style.less
Due: none

Fixed active navbar item
  site/_includes/navbar.html
Due: none

start to fix variables in seperate file
  site/_variables.less
  site/assets/css/_helpers.less
  site/assets/css/_variables.less
  site/assets/css/contact.less
  site/assets/css/navbar.less
  site/assets/css/overlay.less
  site/assets/css/style.less
Due: none

Update README.md
  README.md
Due: none

fix all colors into less variables
  site/assets/css/_contact.less
  site/assets/css/_navbar.less
  site/assets/css/_overlay.less
  site/assets/css/_variables.less
  site/assets/css/style.less
Due: none

Fix index not reloading on meny click
  site/_includes/navbar.html
Due: none

Fix #menu jumping to far down
  site/assets/css/style.less
  site/index.html
Due: none

Fix typo in navbar
  site/assets/css/_navbar.less
Due: none

Remove public dir
  public/index.html
Due: static_validation, webtest

Remove debug code from master
  site/assets/js/index.js
Due: none

fix navbar error on gitlab pages
  site/_includes/navbar.html
Due: none

Removed old files
  less/style.less
  site/_variables.less
Due: static_validation, webtest

Initial commit
  site/_includes/components/find_us.html
  site/_includes/components/header.html
  site/_includes/components/menu.html
  site/_includes/components/open_hours.html
  site/_includes/components/parallax.html
  site/_includes/components/zipcode.html
  site/index.html
  site/kontakt.html
Due: none

fix closeddays and businesshours to match new design
  site/_includes/components/open_hours.html
  site/assets/css/_variables.less
  site/assets/css/style.less
Due: none

fix menu to match new redesign
  site/_includes/components/menu.html
  site/assets/css/style.less
Due: none

Updated header style
  site/assets/css/style.less
Due: none

add utkörning section
  site/_includes/components/zipcode.html
  site/assets/css/_overlay.less
  site/assets/js/index.js
  site/index.html
Due: none

fix utkörning section
  site/_includes/components/zipcode.html
  site/assets/css/_variables.less
  site/assets/css/style.less
Due: none

deleted kontakt.html
  site/kontakt.html
Due: none

Updated phone style
  site/assets/css/style.less
Due: none

removed less folder in root
  less/style.less
Due: static_validation, webtest

removed map border
  site/assets/css/_contact.less
Due: none

Remove container class
  site/_includes/components/menu.html
  site/_includes/components/open_hours.html
  site/_includes/components/zipcode.html
  site/_includes/navbar.html
  site/index.html
Due: none

fix zipcode test to work with new design
  tests/webtests/test_order.py
Due: webtest

Remove BR
  site/_includes/components/header.html
Due: none

add navbar
  site/_includes/navbar.html
  site/assets/css/_navbar.less
  site/assets/css/_variables.less
  site/assets/css/style.less
  site/assets/js/index.js
Due: none

Fixed parallax
  site/_includes/components/find_us.html
  site/_includes/components/map.html
  site/_includes/components/parallax.html
  site/_includes/components/zipcode.html
  site/assets/css/style.less
  site/assets/js/index.js
  site/index.html
Due: none
